.goalTable {
  width: 100%;
}

.done-true {
  text-decoration: line-through;
}

.Amateur {
  background-color: #4c4cff;
}

.Fighter {
  background-color: #ffa500;
}

.Pirate {
  background-color: #b20000;
}