.goalTable {
  width: 100%;
}

.done-true {
  text-decoration: line-through;
}

.Amateur {
  background-color: #4c4cff !important;
}

.Fighter {
  background-color: #ffa500 !important;
}

.Pirate {
  background-color: #b20000 !important;
}

.goal-true {
  background-color: #00b200 !important;
}

tr.Amateur td {
  color: #fff;
}

tr.Fighter td {
  color: #fff;
}

tr.Pirate td {
  color: #fff;
}

.actionButtons {
  width: 170px;
}

.difficultyColumn {
  width: 115px;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}