.goalTable {
  width: 100%;
}

.done-true {
  text-decoration: line-through;
}

.Amateur {
  background-color: #4c4cff !important;
}

.Fighter {
  background-color: #ffa500 !important;
}

.Pirate {
  background-color: #b20000 !important;
}

.goal-true {
  background-color: #00b200 !important;
}

tr.Amateur td {
  color: #fff;
}

tr.Fighter td {
  color: #fff;
}

tr.Pirate td {
  color: #fff;
}